@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-primary: #FFC940;
    --color-secondary: #765532;
    --color-background: #FCF1DF;
    --white: #ffffff;
    --transparent-brown: #b7722962;
}  

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #765532a2;
    padding: 30px;
    padding-top: 40px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    font-family: Poppins, sans-serif;   
    color: #ffffff;
    text-decoration: solid;
    font-size: 16px;
}

.sidebar ul li a:hover {
    color: #5a3711;
    cursor: pointer;
    font-weight: bold;
}

body {
    font-family: Poppins, sans-serif;   
    margin: 0;
    padding: 0;
    background-color: #FCF1DF;  
}
section{
    height: 100vh;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
}
nav a {
    margin-left: 10px;
    text-decoration: none;
    color: var(--color-secondary);
}
.download-button-header{
    background-color: var(--color-secondary);
    color: var(--white);
    border: none;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.download-button-header:hover{
    background-color: var(--color-primary);
    color: var(--white);
}
.FAQ {
    margin: 0 auto;
    padding: 3em;
}
h1 {
    color: var(--color-secondary);
    text-align: left;
}
.faq-list{
    padding: 2em;
}
.faq-item {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}
.faq-question {
    background-color: #f0e6d2;
    color: var(--color-secondary);
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}
.faq-question:hover {
    background-color: #e6d8b5;
}
.faq-question::after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    transition: transform 0.3s;
}
.faq-question.active::after {
    transform: rotate(180deg);
}
.faq-answer {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0e6d2;
}
.logo {
    font-weight: bold;
}
.download-section {
    text-align: center;
}
.download-title {
    color:var(--color-secondary);
    font-size: 2.5em;
    margin-bottom: 1.5em;
    text-align: center;
}
.store-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2em;
}
.store-button {
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}
.store-button img {
    margin-right: 10px;
}
footer {
    background-color: var(--color-secondary);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer-column img {
    padding-left: 2.5em;
    height: 10em;
    width:fit-content;
    margin-bottom: 10px;
}
.cofundadores {
    font-size: 14px;
    line-height: 1.5;
}
.cofundadores h3 {
    margin-top: 0;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.cofundadores img {
    width:fit-content;
    height: 2.5em;
}
.copyright {
    font-size: 12px;
    margin-top: auto;
}
/* Media queries */

@media (max-width: 768px) {
    section{
        height: auto;
    }
    .FAQ {
        padding: 2em;
    }

    .faq-list {
        padding: 1em;
    }

    .faq-item {
        margin-bottom: 5px;
    }

    .faq-question {
        padding: 5px;
    }

    .download-section {
        padding: 2em;
    }

    .download-title {
        font-size: 2em;
    }

    .store-buttons {
        flex-direction: column;
    }

    .store-button {
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 20px;
    }
    
}

@media (max-width: 480px) {
    section{
        height: auto;
    }
    .FAQ {
        padding: 1em;
    }

    .faq-list {
        padding: 0.5em;
    }

    .faq-item {
        margin-bottom: 2px;
    }

    .faq-question {
        padding: 2px;
    }

    .download-section {
        padding: 1em;
    }

    .download-title {
        font-size: 1.5em;
    }

    .store-button {
        font-size: 12px;
    }

    footer {
        padding: 10px;
    }

    .cofundadores {
        font-size: 12px;
    }

    .copyright {
        font-size: 10px;
    }
}