@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-primary: #765532;
    --color-secondary: #765532;
    --color-background: #FCF1DF;
    --white: #ffffff;
    --transparent-brown: #b7722962;
}
.titulo-feature{
    margin: 20px 40px 20px;
    font-size: 2.3em;
    text-align: left;
    color: #765532;
}
.subtitulo-inicio{
    margin: 20px 40px 20px;
    font-size: 1.5em;
    text-align: left;
    color: #fff;
}
.inicio-box h1 {
    margin: 110px 40px 20px; /* Ajusta el espacio entre los títulos */
    text-align: left;
    font-size: 40px;
}
.servicios-img{
    width: 100%;
    height: 100%; /* Asegura que la sección ocupe toda la altura de la pantalla */
}
.column1{
    width: 100%;
}
.download-button {
    background-color: #8cb65b; /* Color de fondo del botón */
    color: rgb(0, 0, 0); /* Color del texto en el botón */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    margin-right: 40px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #4c692a; /* Color al hacer hover */
    color: white; /* Color del texto en el botón */
}

/* Opcional: Añadir una capa de fondo oscuro para mejorar el contraste */
.inicio-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
    z-index: 1;
}

.inicio-box h1, .download-button {
    position: relative;
    z-index: 2; /* Asegura que el texto y los botones estén encima de la capa oscura */
}

body {
    font-family: Poppins, sans-serif;   
    margin: 0;
    padding: 0;
    background-color: #FCF1DF;  
}
section{
    height: 100vh;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 100px;
}
nav a {
    margin-left: 10px;
    text-decoration: none;
    color: var(--color-secondary);
}
.download-button-header{
    background-color: var(--color-secondary);
    color: var(--white);
    border: none;
    border-radius: 2em;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.download-button-header:hover{
    background-color: var(--color-primary);
    color: var(--white);
}
.hero {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: auto;
}

.hero-column1 {
    flex: 1;
    margin-right: 20px;
    font-size: 3.5em;
    color: var(--white);
    font-weight: bold;
}

.hero-column2 {
    display: flex; 
    align-items: center; 
}
.hero-image {
    max-width: 100%;
    height: auto;
}

.features, .business-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.features h3{
    color: var(--white);
    font-size: 30px;
}
.features p{
    color:var(--color-secondary);
    font-size: 25px;
    font-weight: 450;
}
.feature-card, .business-card {
    background-color: var(--transparent-brown);
    border-radius: 10px;
    padding: 2em;
    width: 30em; 
    margin-left: 5rem;

    height: 37em;
    text-align: center;
    box-sizing: border-box;
}


.transform-section {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: auto;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 60px;
}

.titulo-aventurero-section{
    font-size: 5em;
    text-align: center;
    color: #794f22;
}

.column-image{
    display: flex; 
    align-items: center; 
}
.column-text{
    flex: 1;
    margin-left: auto;
    text-align: right;
    font-size: 3.5em;
    color: var(--white);
    font-weight: bold;
}
.transform-image {
    width: 100%;
    height: 100%;
}





.servicios {
    text-align: center;
    background-color: #6b4b2a;
    padding: 20px;
}

.servicios h2 {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: bold;
}

.servicio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.servicio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.texto-servicio {
    margin-top: -100px;
    background: #6b4b2a;
    padding: 40px;
    color: white;
    text-align: left;
    max-width: 800px;
    border-radius: 10px;
}

.texto-servicio h3 {
    font-size: 30px;
}

.texto-servicio p {
    font-size: 17px;
    line-height: 1.5;
}






.download-section {
    padding: 1em;
    text-align: center;
    padding-bottom: 1.7em;
}
.download-title {
    color:var(--color-secondary);
    font-size: 2.5em;
    margin-bottom: 1.5em;
}
.store-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.store-button {
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}
.store-button img {
    margin-right: 10px;
}
footer {
    background-color: var(--color-secondary);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.footer-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer-column img {
    padding-left: 2.5em;
    height: 10em;
    width:fit-content;
    margin-bottom: 10px;
}
.cofundadores {
    font-size: 14px;
    line-height: 1.5;
}
.cofundadores h3 {
    margin-top: 0;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.cofundadores img {
    width:fit-content;
    height: 2.5em;
}
.copyright {
    font-size: 12px;
    margin-top: auto;
}
/* Media queries */
@media (max-width: 768px) {
    section{
        height: auto;
    }
    .hero {
        flex-direction: column;
        padding: 20px;
    }

    .hero-column1 {
        margin-right: 0;
    }

    .hero-column2 {
        margin-top: 20px;
    }

    .features, .business-features {
        flex-direction: column;
    }

    .feature-card, .business-card {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .transform-section {
        flex-direction: column;
        padding: 20px;
    }

    .column-image {
        margin-bottom: 20px;
    }

    .download-section {
        padding: 20px;
    }

    .store-buttons {
        flex-direction: column;
    }

    .store-button {
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    section{
        height: auto;
    }
    .hero {
        padding: 10px;
    }

    .hero-column1 {
        font-size: 2em;
    }

    .hero-image {
        width: 50%;
    }

    .features, .business-features {
        padding: 10px;
    }

    .feature-card, .business-card {
        padding: 1.5em;
        font-size: 18px;
    }

    .transform-section {
        padding: 10px;
    }

    .column-text {
        font-size: 2em;
    }

    .download-section {
        padding: 10px;
    }

    .download-title {
        font-size: 1.5em;
    }

    .store-button {
        font-size: 12px;
    }

    footer {
        padding: 10px;
    }

    .cofundadores {
        font-size: 12px;
    }

    .copyright {
        font-size: 10px;
    }
}